- @participant_profile.attributes.keys.each do |key|
  / doubled Owner and OwnerId
  - unless key == 'Owner'
    %p
      %b= key.underscore.humanize
      = @participant_profile.attributes[key]
/ <haml:loud> link_to 'Edit', edit_participant_participant_profile_path(@participant['Id'], @participant_profile['Id']) </haml:loud> |
= link_to 'Back', participant_participant_profiles_path
